<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/admin" class="btn btn-primary btn-icon-split">
    <span class="text">To Admin</span>
</a>
<a href="/login" class="btn btn-primary btn-icon-split">
    <span class="text">To Login</span>
</a>
<a href="/products" class="btn btn-primary btn-icon-split">
    <span class="text">To Product Table</span>
</a>
<a href="/userlist" class="btn btn-primary btn-icon-split">
    <span class="text">To User List</span>
</a>
<a href="/categories" class="btn btn-primary btn-icon-split">
    <span class="text">To Category List</span>
</a>